<div class="container">
  <footer>
    <div class="footer-items">
      <ul class="footer-text">
        <li class="text">
          <img class="logo" src="./assets/images/logo-footer.png" alt="logo" />
        </li>
        <li class="text">
          <a class="nav-link" href="#"> الشروط و اللأحكام</a>
        </li>
        <li class="text"><a class="nav-link" href="#"> سياسة الخصوصيه</a></li>
      </ul>

      <div class="icon-list">
        <ul class="icons">
          <li class="icon">
            <a class="icon-link" href="#">
              <img src="./assets/images/linkedin (2).png" alt="linkedin"
            /></a>
          </li>
          <li class="icon">
            <a class="icon-link" href="#">
              <img src="./assets/images/youtube (2).svg" alt="youtube"
            /></a>
          </li>
          <li class="icon">
            <a class="icon-link" href="#">
              <img src="./assets/images/twitter (3).svg" alt="twitter"
            /></a>
          </li>

          <li class="copy-right">
            جميع الحقوق محفوظة &copy; لمركز المواصفات السعودية 2023
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
