.heading {
  font-family: "original";
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 70px;
}

.btn {
  font-family: "original";
  border: none;
  width: 100px;
  height: 50px;
  margin-top: 50px;
}
