.wrapper {
  min-height: 60vh;
  .text {
    text-align: center;

    .heading {
      color: #ffffff;
      font-family: "original";
      font-size: 42px;
      font-weight: 600;
    }
    .paragraph {
      font-family: "original";
      font-weight: 500;
      color: #ffffff;
      font-size: 20px;
      padding-top: 32px;
    }
  }
  .settings-menu {
    .button {
      margin-right: 20px;
      background: #0091b4;
      padding: 8px 12px;
      border: 0;
      border-radius: 5px;
      box-shadow: none;
      .icon {
        background-image: url("../../../../../assets/images/menu.png");
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }
  }
  .navbarr {
    margin-top: 10px;
    background-color: #0096b6;
    display: flex;
    flex-direction: column;

    .nav-item {
      .nav-link {
        padding: 10px 0;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
