.auth-wrapper {
  min-height: 60vh;

  .settings-menu {
    display: none;
    @media (max-width: 768px) {
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
    }
    .button {
      margin-right: 20px;
      background: #0091b4;
      padding: 8px 12px;
      border: 0;
      border-radius: 5px;
      box-shadow: none;
      .icon {
        background-image: url("../../../../../assets/images/menu.png");
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }
    .nav-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        position: relative;
        top: -30px;
        height: 0;
      }
    }

    .nav-item {
      .nav-link {
        padding: 10px 0;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        @media (max-width: 768px) {
          color: #fff !important;
          padding: 0;
        }
      }
    }
  }

  .right {
    @media (max-width: 768px) {
      background-color: #0096b6;
      color: #fff;
      padding: 20px;
      .nav-item {
        margin-bottom: 20px;
        margin-right: 0;
      }
      li {
        display: block !important;
      }
    }
  }

  .left {
    @media (max-width: 768px) {
      background-color: #0096b6;
      padding-top: 20px;
      padding-bottom: 30px;
      flex-direction: column;
      gap: 20px;
    }
  }
  .navbar {
    @media (max-width: 768px) {
      display: block;
    }
  }

  .view-nav {
    opacity: 1;
    visibility: visible;
    top: 5px;
  }
}
.text {
  text-align: center;

  .heading {
    color: #ffffff;
    font-family: "original";
    font-size: 42px;
    font-weight: 600;
  }
  .paragraph {
    font-family: "original";
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    padding-top: 32px;
  }
}
