<app-header [pageTitle]="pageTitleValue"></app-header>

<div class="testers-wrapper">
  <div class="container">
    <div class="flex-container">
      <div class="form-group">
        <img class="img" src="assets/images/img3.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
      <div class="form-group">
        <img class="img" src="assets/images/img3.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
      <div class="form-group">
        <img class="img" src="assets/images/img.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
      <div class="form-group">
        <img class="img" src="assets/images/img2.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>

      <div class="form-group">
        <img class="img" src="assets/images/img.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
    </div>

    <div class="flex-container">
      <div class="form-group">
        <img class="img" src="assets/images/img.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
      <div class="form-group">
        <img class="img" src="assets/images/img.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
      <div class="form-group">
        <img class="img" src="assets/images/img2.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
      <div class="form-group">
        <img class="img" src="assets/images/img.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
        <p></p>
      </div>

      <div class="form-group">
        <img class="img" src="assets/images/img2.svg" alt="img" />
        <p class="text">اسم جهة الإختبار</p>
      </div>
    </div>
  </div>
</div>
