<div class="table-1">
  <div class="table-wrap mb-3">
    <div class="title">
      <h2 class="heading">أحدث الطلبات المقدمة</h2>
      <div class="show">
        <p class="show-text">عرض الكل</p>
        <img
          class="img"
          src="../../../../../assets/images/arrow.svg"
          alt="arrow"
        />
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="طلبات الشركة المصنعة">
        <table class="table-wrap">
          <thead>
            <tr>
              <th class="head" scope="col">رقم الطلب</th>
              <th class="head" scope="col">نوع الطلب</th>
              <th class="head" scope="col">رقم VIN</th>
              <th class="head" scope="col">اسم الجهاز</th>
              <th class="head" scope="col">اسم الشركة المصنعة</th>
              <th class="head" scope="col">تاريخ الطلب</th>
              <th class="head" scope="col">حالة الطلب</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="rejected">مرفوض</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="accepted">مقبول</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تسجيل أجهزة</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="audited">تحت المراجعة</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">454554</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="audited">تحت المراجعة</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="accepted">مقبول</div></td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="طلبات الورش">
        <table class="table-wrap">
          <thead>
            <tr>
              <th class="head" scope="col">رقم الطلب</th>
              <th class="head" scope="col">نوع الطلب</th>
              <th class="head" scope="col">رقم VIN</th>
              <th class="head" scope="col">اسم الجهاز</th>
              <th class="head" scope="col">اسم الشركة المصنعة</th>
              <th class="head" scope="col">تاريخ الطلب</th>
              <th class="head" scope="col">حالة الطلب</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="rejected">مرفوض</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="accepted">مقبول</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تسجيل أجهزة</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="audited">تحت المراجعة</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">454554</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="audited">تحت المراجعة</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="accepted">مقبول</div></td>
            </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab label=" طلبات جهة الإختبار">
        <table class="table-wrap">
          <thead>
            <tr>
              <th class="head" scope="col">رقم الطلب</th>
              <th class="head" scope="col">نوع الطلب</th>
              <th class="head" scope="col">رقم VIN</th>
              <th class="head" scope="col">اسم الجهاز</th>
              <th class="head" scope="col">اسم الشركة المصنعة</th>
              <th class="head" scope="col">تاريخ الطلب</th>
              <th class="head" scope="col">حالة الطلب</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="rejected">مرفوض</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="accepted">مقبول</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تسجيل أجهزة</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="audited">تحت المراجعة</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">454554</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="audited">تحت المراجعة</div></td>
            </tr>
            <tr>
              <th class="head-row" scope="row">2434#</th>
              <td class="content">تصريح تركيب</td>
              <td class="content">34553</td>
              <td class="content">اسم الجهاز</td>
              <td class="content">اسم المصنع</td>
              <td class="content">2/3/2022</td>
              <td><div class="accepted">مقبول</div></td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="table">
    <div class="title">
      <h2 class="heading">أحدث الأجهزة المسجلة</h2>
      <div class="show">
        <p class="show-text">عرض الكل</p>
        <img
          class="img"
          src="../../../../../assets/images/arrow.svg"
          alt="arrow"
        />
      </div>
    </div>
    <div class="wrapper">
      <table class="table-wrap">
        <thead>
          <tr>
            <th class="head" scope="col">اسم الجهاز</th>
            <th class="head" scope="col">نوع المركبة</th>
            <th class="head" scope="col">الرقم التسلسلي للجهاز</th>
            <th class="head" scope="col">اسم الشركة المصنعة</th>
            <th class="head" scope="col">نتيجة الإختبار</th>
            <th class="head" scope="col">مستوي التصنيف</th>
            <th class="head" scope="col">تاريخ تسجيل الجهاز</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="head-row" scope="row">قاطرة</td>
            <td class="content">نوع المركبة</td>
            <td class="content">324242</td>
            <td class="content">الشركة المصنعة</td>
            <td class="content">نتيجة الإختبار</td>
            <td class="content">مستوى التصنيف</td>
            <td class="content">2/3/2022</td>
          </tr>
          <tr>
            <td class="head-row" scope="row">قاطرة</td>
            <td class="content">نوع المركبة</td>
            <td class="content">324242</td>
            <td class="content">الشركة المصنعة</td>
            <td class="content">نتيجة الإختبار</td>
            <td class="content">مستوى التصنيف</td>
            <td class="content">2/3/2022</td>
          </tr>

          <tr>
            <td class="head-row" scope="row">مقطورة</td>
            <td class="content">نوع المركبة</td>
            <td class="content">324242</td>
            <td class="content">الشركة المصنعة</td>
            <td class="content">نتيجة الإختبار</td>
            <td class="content">مستوى التصنيف</td>
            <td class="content">2/3/2022</td>
          </tr>

          <tr>
            <th class="head-row" scope="row">قاطرة</th>
            <td class="content">نوع المركبة</td>
            <td class="content">324242</td>
            <td class="content">الشركة المصنعة</td>
            <td class="content">نتيجة الإختبار</td>
            <td class="content">مستوى التصنيف</td>
            <td class="content">2/3/2022</td>
          </tr>

          <tr>
            <th class="head-row" scope="row">مقطورة</th>
            <td class="content">نوع المركبة</td>
            <td class="content">324242</td>
            <td class="content">الشركة المصنعة</td>
            <td class="content">نتيجة الإختبار</td>
            <td class="content">مستوى التصنيف</td>
            <td class="content">2/3/2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table">
    <div class="title">
      <h2 class="heading">أحدث المستخدمين المضافين</h2>
      <div class="show">
        <p class="show-text">عرض الكل</p>
        <img
          class="img"
          src="../../../../../assets/images/arrow.svg"
          alt="arrow"
        />
      </div>
    </div>
    <div class="wrapper">
      <table class="table-wrap">
        <thead>
          <tr>
            <th class="head" scope="col">اسم المستخدم</th>
            <th class="head" scope="col">اسم المستخدم</th>
            <th class="head" scope="col">البريد الإلكتروني</th>
            <th class="head" scope="col">حالة الحساب</th>
            <th class="head" scope="col">تاريخ التسجيل</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="head-row" scope="row">ميسون أحمد</th>
            <td class="content">شركة مصنعة</td>
            <td class="content">maisson@gmail.com</td>
            <td class="content">
              <mat-slide-toggle></mat-slide-toggle>
            </td>
            <td class="content">2/3/2022</td>
          </tr>
          <tr>
            <th class="head-row" scope="row">ميسون أحمد</th>
            <td class="content">نوع المركبة</td>
            <td class="content">maisson@gmail.com</td>
            <td class="content">
              <mat-slide-toggle></mat-slide-toggle>
            </td>
            <td class="content">2/3/2022</td>
          </tr>

          <tr>
            <th class="head-row" scope="row">ميسون أحمد</th>
            <td class="content">شركة مصنعة</td>
            <td class="content">maisson@gmail.com</td>
            <td class="content">
              <mat-slide-toggle></mat-slide-toggle>
            </td>
            <td class="content">2/3/2022</td>
          </tr>

          <tr>
            <th class="head-row" scope="row">ميسون أحمد</th>
            <td class="content">جهة إختبار</td>
            <td class="content">maisson@gmail.com</td>
            <td class="content">
              <mat-slide-toggle></mat-slide-toggle>
            </td>
            <td class="content">2/3/2022</td>
          </tr>

          <tr>
            <th class="head-row" scope="row">ميسون أحمد</th>
            <td class="content">ورشة</td>
            <td class="content">maisson@gmail.com</td>
            <td class="content">
              <mat-slide-toggle></mat-slide-toggle>
            </td>
            <td class="content">2/3/2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
