.workshop-wrapper {
  margin-top: 70px;

  .flex-container {
    display: flex;
  }
  .form-group {
    margin-left: 30px;
    @media (max-width: 768px) {
      padding-inline-start: 30px;
      padding-inline-end: 30px;
    }
  }
  .img {
    width: 236px;
    height: 236px;
  }
  .text {
    padding-top: 24px;
    font-weight: 700;
    font-family: "original";
    font-size: 16px;
    padding-bottom: 32px;
  }
}
