<div class="side-menu">
  <div class="sidebar-wrapper">
    <div class="container">
      <div class="section-1">
        <img
          class="logo"
          src="../../../../../assets/images/logo-sidemenu.svg"
          alt="logo"
        />
        <div class="member">
          <img
            class="user"
            src="../../../../../assets/images/user.svg"
            alt="user"
          />

          <div class="job">
            <h3 class="name">
              {{ userInfo.nameAr }}
            </h3>

            <p class="job-title">مدير النظام</p>
          </div>
          <div class="dropdown">
            <img src="../../../../../assets/images/dropdown.png" alt="icon" />
          </div>
        </div>
      </div>
      <div class="content">
        <div class="part">
          <div class="component">
            <img
              class="icon"
              src="../../../../../assets/images/dashboard.svg"
              alt="icon"
            />
            <a
              class="link"
              [routerLink]="['/dashboard/home-dashboard']"
              [routerLinkActive]="'is-active'"
              >الرئيسية</a
            >
          </div>
          <div class="component">
            <img
              src="../../../../../assets/images/streamline (2).svg"
              alt="icon"
            />
            <a class="link">الأجهزة المسجلة</a>
          </div>
          <div class="component">
            <img
              src="../../../../../assets/images/streamlinehq-task-list.svg"
              alt=""
            />
            <a
              class="link"
              [routerLink]="['/dashboard/requests']"
              [routerLinkActive]="'is-active'"
              >الطلبات المقدمة</a
            >
          </div>
          <div class="component">
            <img
              src="../../../../../assets/images/streamlinehq-multiple-users.svg"
              alt="icon"
            />
            <a class="link">المستخدمين</a>
          </div>
        </div>
        <div class="part">
          <div class="component">
            <img
              src="../../../../../assets/images/streamlinehq-lab-tube.svg"
              alt="icon"
            />
            <a class="link">جهات الإختبار</a>
          </div>
          <div class="component">
            <img
              src="../../../../../assets/images/streamlinehq-human-resources.svg"
              alt="icon"
            />
            <a class="link">الورش</a>
          </div>
        </div>
        <div class="part">
          <div class="component">
            <img src="../../../../../assets/images/management.svg" alt="icon" />
            <a class="link">الإعدادات</a>
          </div>
          <div class="component">
            <img src="../../../../../assets/images/icon.svg" alt="icon" />
            <a class="link">إدارة النظام</a>
          </div>
          <div class="component">
            <img src="../../../../../assets/images/icon.svg" alt="icon" />
            <a
              class="link"
              [routerLink]="['/dashboard/profile']"
              [routerLinkActive]="'is-active'"
              >الملف الشخصي
            </a>
          </div>
          <div class="component" (click)="logout()">
            <img src="../../../../../assets/images/logout.png" alt="icon" />
            <a class="logout link">تسجيل الخروج</a>
            <img
              class="info"
              src="../../../../../assets/images/info.svg"
              alt="icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
