<div class="wrapper">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a [routerLink]="['']">
        <img
          clas="logo"
          src="../../../../../assets/images/kfa2a.svg"
          alt="logo"
        />
      </a>
      <div class="settings-menu">
        <button class="button" (click)="openMenu()">
          <span class="icon"></span>
        </button>
      </div>
      <div class="nav-wrap" [ngClass]="{ 'view-nav': viewMenuSettings }">
        <ul class="right">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/testers']"> جهات الإختبار </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/workshops']">الورش</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/faq']">الأسئله الشائعه </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact-us']">تواصل معنا</a>
          </li>
        </ul>

        <ul class="left">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              EN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/auth/register']" class="btn btn-primary"
              >إنشاء حساب</a
            >
          </li>
          <li class="nav-item">
            <a [routerLink]="['/auth/login']" class="btn btn-secondary"
              >تسجيل الدخول</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="text">
      <p class="p1">الرئيسية . {{ pageTitle.title }}</p>
      <p class="p2">{{ pageTitle.text }}</p>
    </div>
  </div>
</div>
