<app-auth-header [pageTitle]="pageTitleValue"></app-auth-header>

<mat-stepper #stepper>
  <mat-step [stepControl]="firstForm">
    <div class="form-wrapper">
      <div class="container">
        <form class="form" [formGroup]="firstForm">
          <h2 class="heading">المعلومات الأساسية للشركة المصنعة</h2>
          <div class="row">
            <div class="col-6">
              <div class="form-group check-box">
                <label for="name" class="form-lable"
                  >مصنع سعودي <span class="required">*</span>
                </label>
                <input
                  class="check-mark"
                  type="radio"
                  id="arabic"
                  name="isSaudi"
                  value="1"
                  formControlName="isSaudi"
                  checked="true"
                  (change)="getRadioVal($event)"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group check-box">
                <label for="name" class="form-lable">
                  مصنع غير سعودي <span class="required">*</span>
                </label>
                <input
                  class="check-mark"
                  type="radio"
                  id="arabic"
                  name="arabic"
                  value="0"
                  (change)="getRadioVal($event)"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="name" class="form-lable"
                  >اسم الشركة المصنعة ( بالإنجليزية )
                  <span class="required">*</span>
                </label>

                <input
                  class="form-control"
                  type="text"
                  name="name"
                  id="name"
                  placeholder="اسم الشركة المصنعة ( بالإنجليزية ) "
                  formControlName="nameEn"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('nameEn')!.errors &&
                      (firstForm.get('nameEn')?.dirty ||
                        firstForm.get('nameEn')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['nameEn']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="text" class="form-lable">
                  اسم الشركة المصنعة ( بالعربية )
                  <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="name"
                  name="name"
                  id="name"
                  placeholder="اسم الشركة المصنعة ( بالعربية )"
                  formControlName="nameAr"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('nameAr')!.errors &&
                      (firstForm.get('nameAr')?.dirty ||
                        firstForm.get('nameAr')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['nameAr']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="phone" class="form-lable"
                  >رقم للتواصل <span class="required">*</span></label
                >

                <input
                  class="form-control"
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="ادخل رقم للتواصل "
                  formControlName="phone"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                  firstForm.get('phone')!.errors?.['required'] &&
                  (firstForm.get('phone')?.dirty ||
                  firstForm.get('phone')?.touched) ||
              firstFormSubmitted
                "
                >
                  <span
                    *ngIf="firstForm.controls['phone']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="phone" class="form-lable">رقم الفاكس</label>

                <input
                  class="form-control"
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="ادخل رقم الفاكس   "
                  formControlName="fax"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('fax')!.errors &&
                      (firstForm.get('fax')?.dirty ||
                        firstForm.get('fax')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span *ngIf="firstForm.controls['fax']?.errors?.['required']">
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="email" class="form-lable">
                  الصندوق البريدي <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  id="email"
                  placeholder=" ادخل الصندوق البريدي"
                  formControlName="poBox"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('poBox')!.errors &&
                      (firstForm.get('poBox')?.dirty ||
                        firstForm.get('poBox')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['poBox']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="text" class="form-lable">
                  الرمز البريدي <span class="required"> *</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  name="number"
                  id="number"
                  placeholder="ادخل الرمز البريدي"
                  formControlName="postcode"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('postcode')!.errors &&
                      (firstForm.get('postcode')?.dirty ||
                        firstForm.get('postcode')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['postcode']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="sel1" class="form-lable">
                  البلد <span class="required">*</span></label
                >
                <select class="form-select" formControlName="countryId">
                  <option>البلد</option>
                  <option [ngValue]="null">One</option>
                  <option
                    [ngValue]="country.id"
                    *ngFor="let country of allCountries"
                  >
                    {{ country.nameAr }}
                  </option>
                </select>
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('countryId')!.errors &&
                      (firstForm.get('countryId')?.dirty ||
                        firstForm.get('countryId')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['countryId']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="text" class="form-lable"
                  >المدينة <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="name"
                  name="name"
                  id="name"
                  placeholder="المدينة"
                  formControlName="city"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('city')!.errors &&
                      (firstForm.get('city')?.dirty ||
                        firstForm.get('city')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['city']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="text" class="form-lable"
                  >العنوان <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  placeholder="العنوان"
                  formControlName="address"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('address')!.errors &&
                      (firstForm.get('address')?.dirty ||
                        firstForm.get('address')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['address']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="text" class="form-lable">
                  رقم السجل التجاري <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  name="number"
                  id="number"
                  placeholder="  رقم السجل التجاري"
                  formControlName="commercialRegisterstring"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (firstForm.get('commercialRegisterstring')!.errors &&
                      (firstForm.get('commercialRegisterstring')?.dirty ||
                        firstForm.get('commercialRegisterstring')?.touched)) ||
                    firstFormSubmitted
                  "
                >
                  <span
                    *ngIf="firstForm.controls['commercialRegisterstring']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group date">
                <label for="date" class="date-label col-form-label"
                  >تاريخ إنتهاء السجل التجاري
                  <span class="required">*</span></label
                >
                <div class="date-pick">
                  <mat-form-field appearance="fill">
                    <mat-label class="date-label1"
                      >ادخل تاريخ الإنتهاء</mat-label
                    >
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="commercialRegisterstringEndDate"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div
                    class="error-valid-msg"
                    *ngIf="
                      (firstForm.get('commercialRegisterstringEndDate')!
                        .errors &&
                        (firstForm.get('commercialRegisterstringEndDate')
                          ?.dirty ||
                          firstForm.get('commercialRegisterstringEndDate')
                            ?.touched)) ||
                      firstFormSubmitted
                    "
                  >
                    <span
                      *ngIf="firstForm.controls['commercialRegisterstringEndDate']?.errors?.['required']"
                    >
                      هذا الحقل مطلوب
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="website" class="form-lable">
                  الموقع الإلكتروني</label
                >
                <input
                  class="form-control"
                  type="website"
                  name="website"
                  id="website"
                  placeholder="الموقع الإلكتروني"
                  formControlName="website"
                />
              </div>
            </div>
          </div>
        </form>

        <button
          class="btn-primary next"
          mat-button
          (click)="onNextFirst(stepper)"
        >
          التالي
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondForm">
    <div class="form-wrapper">
      <div class="container">
        <form class="form-upload" [formGroup]="secondForm">
          <h2 class="heading">معلومات اعتماد الشركة المصنعة</h2>
          <div class="details">
            <h3 class="heading1">
              خطاب التفويض <span class="required">*</span>
            </h3>
            <a class="logo">
              <span>
                <button mat-button [matMenuTriggerFor]="menu">
                  <img src="../../../../assets/images/info.svg" alt="info" />
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    الشخص المتقدم للتسجيل مخول من قبل الشركة المصنعة للتسجيل
                    وتحديث معلومات الشركة المصنعة. يجب أن يحتوي الخطاب على رقم
                    السجل التجاري في حال كان المصنع سعودي
                  </button>
                </mat-menu>
              </span>
            </a>
          </div>

          <div class="upload-btn-wrapper input-icon form-control">
            <div class="position-relative">
              <div class="upload-icon-pos">
                <img src="../../../../assets/images/upload.svg" alt="upload" />
              </div>
            </div>
            <input
              class="form-control"
              type="file"
              accept="image/*,.pdf,xlsx,.xls,.csv,.doc"
              (change)="selectAuthorityLetterUrl($event)"
              formControlName="authorityLetterUrl"
              placeholder="خطاب التفويض"
            />
          </div>
          <img
            *ngIf="fileUrl != ''"
            [src]="assetsUrl + fileUrl"
            class="uploaded-img"
          />
        </form>
        <div class="buttons">
          <button class="btn-secondary" mat-button matStepperPrevious>
            رجوع
          </button>
          <button
            class="btn-primary"
            mat-button
            (click)="onNextSecond(stepper)"
          >
            التالي
          </button>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="thirdForm">
    <div class="form-wrapper">
      <div class="container">
        <form class="form" [formGroup]="thirdForm">
          <h2 class="heading">معلومات ممثل الشركة المصنعة</h2>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="text" class="form-lable">
                  اسم ممثل الجهة
                  <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="name"
                  name="name"
                  id="name"
                  placeholder="( اسم ممثل الجهة )"
                  formControlName="contact1_name"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (thirdForm.get('contact1_name')!.errors &&
                      (thirdForm.get('contact1_name')?.dirty ||
                        thirdForm.get('contact1_name')?.touched)) ||
                    thirdFormSubmitted
                  "
                >
                  <span
                    *ngIf="thirdForm.controls['contact1_name']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="phone" class="form-lable"
                  >رقم للتواصل <span class="required">*</span></label
                >

                <input
                  class="form-control"
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="ادخل رقم للتواصل "
                  formControlName="contact1_phone"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (thirdForm.get('contact1_phone')!.errors &&
                      (thirdForm.get('contact1_phone')?.dirty ||
                        thirdForm.get('contact1_phone')?.touched)) ||
                    thirdFormSubmitted
                  "
                >
                  <span
                    *ngIf="thirdForm.controls['contact1_phone']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="email" class="form-lable">
                  البريد الإلكتروني <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="   البريد الإلكتروني"
                  formControlName="contact1_email"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (thirdForm.get('contact1_email')!.errors &&
                      (thirdForm.get('contact1_email')?.dirty ||
                        thirdForm.get('contact1_email')?.touched)) ||
                    thirdFormSubmitted
                  "
                >
                  <span
                    *ngIf="thirdForm.controls['contact1_email']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="text" class="form-lable">
                  المسمى الوظيفي
                  <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="name"
                  name="name"
                  id="name"
                  placeholder=" المسمى الوظيفي"
                  formControlName="contact1_position"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (thirdForm.get('contact1_position')!.errors &&
                      (thirdForm.get('contact1_position')?.dirty ||
                        thirdForm.get('contact1_position')?.touched)) ||
                    thirdFormSubmitted
                  "
                >
                  <span
                    *ngIf="thirdForm.controls['contact1_position']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>

            <h2 class="heading">معلومات الحساب</h2>
            <div class="col-6">
              <div class="form-group">
                <label for="email" class="form-lable">
                  البريد الإلكتروني الرسمي للجهة
                  <span class="required">*</span></label
                >
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="البريد الإلكتروني الرسمي للجهة "
                  formControlName="email"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (thirdForm.get('email')!.errors &&
                      (thirdForm.get('email')?.dirty ||
                        thirdForm.get('email')?.touched)) ||
                    thirdFormSubmitted
                  "
                >
                  <span
                    *ngIf="thirdForm.controls['email']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6"></div>

            <div class="col-6">
              <div class="form-group">
                <label for="password" class="form-lable"
                  >كلمة المرور
                  <span class="required">*</span>
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder=" كلمة المرور "
                  formControlName="password"
                />
                <div
                  class="error-valid-msg"
                  *ngIf="
                    (thirdForm.get('password')!.errors &&
                      (thirdForm.get('password')?.dirty ||
                        thirdForm.get('password')?.touched)) ||
                    thirdFormSubmitted
                  "
                >
                  <span
                    *ngIf="thirdForm.controls['password']?.errors?.['required']"
                  >
                    هذا الحقل مطلوب
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="password" class="form-lable">
                  تأكيد كلمة المرور
                  <span class="required">*</span>
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="  تأكيد كلمة المرور  "
                  formControlName="password"
                />
              </div>
            </div>
          </div>
        </form>
        <div>
          <button class="btn-secondary" mat-button matStepperPrevious>
            رجوع
          </button>
          <button class="btn-primary" mat-button (click)="sendData()">
            إنشاء
          </button>
        </div>
      </div>
    </div>
  </mat-step>
</mat-stepper>
<app-footer></app-footer>
