<app-auth-header [pageTitle]="pageTitleValue"></app-auth-header>

<div class="login-wrapper">
  <div class="container">
    <form class="forum" [formGroup]="forgetpasswordForm">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="email" class="form-lable">البريد الإلكتروني </label>
            <input
              class="form-control"
              type="email"
              name="email"
              id="email"
              placeholder="ادخل البريد الإلكتروني"
              formControlName="email"
            />
            <div
              class="error-valid-msg"
              *ngIf="forgetpasswordForm.controls['email'].hasError('pattern')"
            >
              صيغه البريد الالكتروني غير صحيحه
            </div>
          </div>
        </div>
      </div>
      <button class="button btn-primary" (click)="send()">تأكيد</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
