<div class="register">
  <div class="register-text">
    <h1 class="title">إنشاء حساب</h1>
    <p class="text">أهلا بك ، قم بإنشاء حساب الآن على منصتنا</p>
  </div>
</div>

<div class="boxes">
  <div class="boxes-wrapper">
    <div class="container">
      <div class="row w-100">
        <div class="col-md-4">
          <a
            class="box"
            [routerLink]="['/auth/register-form']"
            [queryParams]="{ registerType: 'tester' }"
          >
            <div class="img-1">
              <img
                src="../../../../../../assets/images/box-img1.svg"
                alt="icon"
              />
            </div>
            <a class="link-1">جهة الإختبار</a>
          </a>
        </div>
        <div class="col-md-4">
          <a
            class="box"
            [routerLink]="['/auth/register-form']"
            [queryParams]="{ registerType: 'company' }"
          >
            <div class="img">
              <img
                src="..../../../../../../../assets/images/box-img2.svg"
                alt="icon"
              />
            </div>
            <a class="link"> الشركة المصنعه / المستورد</a>
          </a>
        </div>
        <div class="col-md-4">
          <a
            class="box"
            [routerLink]="['/auth/register-form']"
            [queryParams]="{ registerType: 'workshop' }"
          >
            <div class="img">
              <img
                src="..../../../../../../../assets/images/box-img3.svg"
                alt="icon"
              />
            </div>
            <a class="link"> الورشة</a>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
