.register {
  background: linear-gradient(91.93deg, #4b9b2e -99.15%, #0091b4 106.9%);
  height: 350px;
  text-align: center;
  .logo {
    @media (max-width: 768px) {
      img {
        width: 150px;
      }
    }
    img {
      width: 150px;
    }
  }
  .register-text {
    padding-top: 60px;

    .title {
      color: #ffffff;
      font-size: 42px;
      font-weight: 600;
      font-family: "original";
      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
    .text {
      font-weight: 500;
      font-family: "original";
      color: #ffffff;
      font-size: 20px;
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
}

.boxes {
  background-color: transparent;
  margin-top: -100px;

  .container {
    display: flex;
  }
  .box {
    text-decoration: none;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 14px 24px rgba(108, 108, 108, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
    .img-1 {
      width: 150px;
      height: 80px;
      margin-top: 40px;
      margin-bottom: 95px;
    }
    .img {
      width: 150px;
      height: 100px;
      margin-top: 65px;
    }
    .link-1 {
      color: #000000;
      font-size: 24px;
      font-weight: 800;
      font-family: "original";
      text-decoration: none;
      padding-bottom: 42px;
    }
    .link {
      color: #000000;
      font-size: 24px;
      font-weight: 800;
      font-family: "original";
      text-decoration: none;
      padding-bottom: 42px;
      padding-top: 50px;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
}
