.button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  .button:hover {
    background-color: transparent;
  }
}
.btn-primary {
  background-color: #0091b4;
  color: #ffffff !important;
  margin-left: 20px;
  border: none;
  .btn-primary:hover {
    background-color: #0091b4 !important;
  }
}
.btn-secondary {
  background-color: #ffffff;
  color: #0091b4 !important;
  border: 1px solid #0091b4 !important;
}
button[disabled] {
  opacity: 0.5;
}
.btn:hover {
  background-color: #0091b4;
}
