@font-face {
  font-family: "black";
  src: url("../fonts/Arabic-Black.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Arabic-Bold.ttf");
}
@font-face {
  font-family: "demi";
  src: url("../fonts/Arabic-Demi.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Arabic-Medium.ttf");
}
@font-face {
  font-family: "thin";
  src: url("../fonts/Arabic-Thin.ttf");
}
@font-face {
  font-family: "original";
  src: url("../fonts/Arabic.ttf");
}
@font-face {
  font-family: "light";
  src: url("../fonts/XLight.ttf");
}
